@layer base {
    /*
     | Do not assign any colors here! Do that in assign-colors.css. 
     */

    article.article {  
        /* max-width: 100ch;
        margin-top: 2rem;
        padding: 2rem; */

        --text-font-size: 1.50rem;
        --code-text-size: var(--text-font-size);
        --h2-multiple: 1.5;
        --h3-multiple: 1.3;
        --h4-multiple: 1.1;     
        padding-inline: 5rem;   


        & h1 {
            font-size: calc(var(--text-font-size) * var(--h2-multiple) + .5rem);
            margin-block: 1lh;
            line-height: 2.2lh;
        }

        & h2 {
            font-size: calc(var(--text-font-size) * var(--h2-multiple));
            margin-top: calc(var(--text-font-size) * var(--h2-multiple));
            margin-bottom: calc(var(--text-font-size) * var(--h2-multiple));
        }

        & h3 {
            font-size: calc(var(--text-font-size) * var(--h3-multiple));
            margin-top: calc(var(--text-font-size) * var(--h3-multiple));
            margin-bottom: calc(var(--text-font-size) * var(--h3-multiple));
        }

        & h4 {
            font-size: calc(var(--text-font-size) * var(--h4-multiple));
            margin-top: calc(var(--text-font-size) * var(--h4-multiple));
            margin-bottom: calc(var(--text-font-size) * var(--h4-multiple));
        }

        & a {
            text-decoration: underline;
            text-underline-offset: 0.3em;
            text-decoration-thickness: 1px;

            &:hover {
                text-decoration-thickness: 3px;
            }
        }
        
        & p {
            font-size: var(--text-font-size);
            line-height: 1.4lh;
        }

        & p + p  {
            margin-top: var(--text-font-size);
        }

        & ul {
            font-size: var(--text-font-size);
            padding-left: calc(var(--text-font-size) * 2); /* Indent the list inside the paragraph */
            margin-top: calc(var(--text-font-size) * .5); 
        }
        
        & ul li {
            margin-bottom: 5px; /*Add some space between list items*/
        }        

        & ul + p {
            margin-top: var(--text-font-size); 
        }
        

        & pre {
            padding-inline: 1rem; 
            padding-inline: .5rem; 
            border-radius: 5px;
            font-size: calc(var(--text-font-size) * .75);
            margin-block-start: 2rem;
            line-height: 1.2lh;
        }
        
        & figcaption {
            display: block;
            font-size: calc(var(--text-font-size) * .8);
            margin-top: .5rem;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

        /* & div.spaced-bullet-list + ul > li { */
        div.spaced-bullet-list + ul > li {
            margin-block-end: .5lh;
        }

}

