.toaster {
    color: black;
    position: fixed;
    /* top: 20px;
    left: 50%;
    transform: translateX(-50%); */
    z-index: 1000;
    background: var(--neutral-100);
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    opacity: 0;
    text-align: center;  
    cursor: pointer;      
    width: 24rem;

    &.toaster-center-top {
        top: 20px;
        left: 50%;
        transform: translateX(-50%);    
    }

    &.toaster-left-top {
        top: 20px;
        left: 0;
        /* transform: translateX(-50%);     */
    }

    &.toaster-right-top {
        top: 20px;
        right: -8rem;
        /* transform: translateX(-50%);     */
    }

}