
.presentation-centered {
    --head-color: var(--brand-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h1 {
        color: var(--head-color);
    }
}