/* @layer base, design, article;  */

    @import "./reset.css"; 
    @import "./color-base.css";
    @import "./defaults.css";     
    @import "./design-colors.css"; 

    @import "./components/toaster.css"; 

    @import "./two-col-body.css";
    @import "./home-page.css";

    @import "./text-blocks/tag-article.css"; 
    @import "./header-footer.css";

    @import "./vendor/prism.css";

    svg  {
        width: 32px;
        height: 32px;
        fill: white !important;

        & path {
            stroke: white;
        }

    }
    .svg-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* color: white; */
    }

    .svg-wrapper > a {
        display: inline-flex;
        align-items: center;
        gap: 4px;
    }
  
    .svg-wrapper > a > svg {
        width: 24px;
        height: 24px;
    }