

:root {
    --blue-7: #1c7ed6;
    --red-9: #c92a2a;
    --yellow-5: #fcc419;
    --green-9: #2b8a3e;
}

/* @layer base, design, article; */

/* 1. Use a more-intuitive box-sizing model */

*, *::before, *::after {
    box-sizing: border-box;
  }

/* 2. Remove default margin */

* {
    margin: 0;
  }

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }

/* 5. Improve media defaults */

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

/* 6. Inherit fonts for form controls */

input, button, textarea, select {
    font: inherit;
  }

/* 7. Avoid text overflows */

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* 8. Improve line wrapping */

p {
    text-wrap: pretty;
  }

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

/*
    9. Create a root stacking context
  */

/* #root, #__next {
    isolation: isolate;
  } */

/*
     I added this. 
  */

button {
    all: unset;
  }

@media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;

            --black: hsl(0, 0%, 0%);
            --white: hsl(0, 0%, 100%);

            --accent-100: hsl(160, 84%, 39%);
            --accent-200: hsl(189, 94%, 43%);
            --accent-300: hsl(271, 91%, 65%);

            --background-dark: hsl(282, 15%, 17%);
            --background-light: hsl(240, 5%, 90%);
          
            --brand-primary: hsl(251, 19%, 29%);
            --brand-complimentary: hsl(165, 22%, 70%);
            --brand-highlight: hsl(102, 24%, 74%);
            --brand-neutral-100: hsl(71, 57%, 85%);
            --brand-neutral-200: hsl(44, 75%, 80%);

            --secondary-100:hsl(0, 0%, 73%);
            --secondary-200:hsl(0, 7%, 85%);
            --secondary-300:hsl(34, 100%, 88%);
            --secondary-400:hsl(36, 100%, 70%);
            --secondary-500: hsl(12.7 15.8% 60%);

            --state-info: var(--blue-7);
            --state-danger: var(--red-9);
            --state-caution: var(--yellow-5);
            --state-ok: var(--green-9);

            --neutral-100: hsl(0, 0%, 98%);
            --neutral-200: hsl(240, 5%, 90%);
            --neutral-300: hsl(240, 5%, 65%);
            --neutral-400: hsl(240, 5%, 34%);
            --neutral-500: hsl(240, 6%, 10%);
       }
    }

body {
        font-family: sans-serif;
      }

@media (prefers-color-scheme: dark) {
        :root {
            /* background-color: red; */

            --vertical-margin: 1rem;

            /* --background-color: var(--background-dark);
            --text-color: var(--text-300);
            --heading-color: var(--brand-highlight);

            background-color: var(--background-color); 
            color: var(--text-color);    */


            /* --border-color: hsl(39, 100%, 50%);
            --border-pill: 9999px;
            --border-rounded: 1rem;
            --border-thin: 1px;
            --border-medium: 2px;
            --border-thick: 4px;

            --accent-bg: hsl(42, 100%, 50%);
            --accent-text: var(--bg);
            --accent-hover: hsl(47, 96%, 76%);


            --header-bg: hsl(0, 100%, 50%);
            --footer-bg: hsl(0, 100%, 25%);
            --aside-bg: hsl(0, 100%, 25%);

            --nav-bg: hsl(0, 0%, 100%);
            --nav-text: hsl(240, 6%, 10%);
            --nav-hover: hsl(214, 32%, 91%);

            --shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

            --anchor-text: hsl(24, 90%, 48%);
            --anchor-hover: color-mix(in srgb, var(--anchor-text) 70%, white);
            --anchor-underline: hsl(240, 100%, 50%);
            --anchor-thickness: 2px;
            --anchor-underline-offset: 0.2em; */

        }
    }

/* @import "./design-colors.css"; */

/* @import "./components/toaster.css"; */

/* @import "./two-col-body.css"; */

/* @import "./text-blocks/tag-article.css"; */

body {
        background-color: var(--background-dark);
    }

header {
        grid-area: header;
        margin-inline: var(--vertical-margin);
        padding: var(--vertical-margin);
        border-bottom: 2px solid var(--brand-complimentary);
        color: var(--brand-neutral-100);

        a {
            text-decoration: none;
            color: var(--brand-neutral-100);
        }


        h1 {
        }

     }

nav {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        padding-inline-start: 2rem;

        & a {
            color: var(--neutral-200);
            text-decoration: underline;
            font-weight: 700;
            font-size: 1rem;
        } 
    }

aside {
        grid-area: sidebar;
        padding: var(--vertical-margin)
    }

article {
        grid-area: main;
        padding: var(--vertical-margin)
    }

footer {
        grid-area: footer;
        padding: var(--vertical-margin)
    }

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+csharp+powershell+python+typescript */

code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}

pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}

:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}

:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}

.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}

.token.punctuation{color:#ccc}

.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}

.token.function-name{color:#6196cc}

.token.boolean,.token.function,.token.number{color:#f08d49}

.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}

.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}

.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}

.token.entity,.token.operator,.token.url{color:#67cdcc}

.token.bold,.token.important{font-weight:700}

.token.italic{font-style:italic}

.token.entity{cursor:help}

.token.inserted{color:green}